/* src/components/ProductCatalog.css */
.product-catalog {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    color: green;
    font-weight: bold;
}


.buy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #128C7E;
}
